.home{
    background-color: deepskyblue;
}
.profile{
    border: 1px solid black;
    max-width: 400px;
}
.selectedPage{
    font-weight: bold;
}

span{
    cursor: pointer;
    margin: 5px;
}

.photo{
    max-height: 40px;
}