.home{
    padding: 30px 60px;
}
.contacts{
    padding-left: 20px;
}
.photoLarge img{
    max-height: 150px;
    border-radius: 5px;
}
.photoRow{
    display: flex;
}
.photoLarge{
    position: relative;
}
.photoBtn{
    position: absolute;
    top: 150px;
}