.max-width{
    max-width: 1140px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.app {
    color: #35343c;
}

.app-header {
    z-index: 1;
box-shadow: 0 0 10px #c3c3c3;
}

.content{
    min-height: 500px;
}

.footer{
    background-color: greenyellow;
}